<head><link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="container-fluid" style="margin-top: 80px; color: #fff;">
    <div class="container txt-bg">
            <div class="w3-container  w3-animate-top">
              
        
          <h1 class="text-center" id="h1"> Hi! I am Anjali.<br/></h1>
          <h3 class="text-center"> This is my MDP Asignment for Comprehensive.<br/>This is a simple Group expense count app which keep track of expenses and balance in a group of friends.</h3><br />
          <ul>
            <li>You can add new record by clicking 'Add Details'. </li>
            <li>You can also delete particular record, if it is no more required. </li>
          
            
          </ul>
      </div>


    </div>
</div>
